<html>
<head>
    <title>
        {% block title %} {% endblock %}
    </title>
</head>
<body>
    {% include "tienda/menu.html" %}
    <div class="bodi"> 
    {% block content %}
    {% endblock %}
    </div>

</body>
<hr>
<footer class="bodi" id="footer">Programador.negro@gmail.com</footer>
<style>
    body {
        margin: 0px 0px;
        padding: 0px 0px;
        color: black;
        background-color: white;
        font-size: larger;
    }
    .bodi{
        margin-left: 10%;
        margin-right: 10%;
    }
    .fondo {
        color: black;
        font-weight: bold;
    }
    #cuadroCodigo{
        padding: 10px 10px;
        background-color: lemonchiffon;
    }
    .footer {
        color: black;
    }
</style>
</html>