		
<div id="portada">
    <div id="titulo"><b>Tienda Tech</b></div>
  </div>
    <ul>
        <li><a class="active" href="{% url 'indexTienda' %}"> <b>Tienda</b></a></li>
        <li><a class="button" href="">Productos</a></li>
        <li><a class="button" href="{% url 'buscarComputadora' %}">Buscar</a></li>
    </ul>
  
  <style>
    #portada {
      width: 100%;
      height: 20%;
      background-image: url("https://image.winudf.com/v2/image/Y29tLlN0YXJXYWxscGFwZXJzLk5pZ2h0Q2l0eTE3X3NjcmVlbnNob3RzXzNfMzViMjEzMjE/screen-3.jpg?fakeurl=1&type=.jpg");
       background-position: bottom; /* Center the image */
    background-repeat: no-repeat;
     background-size: cover;
    
    }
    #titulo {
      
      font-family: Helvetica, sans-serif;
      color: white;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: blueviolet;
      font-size: 60px;
      padding-left: 5%;
       padding-top: 3%;
    }
    #portada  #titulo {
       text-align: justify;
    }
  
    /* Menu principal de la pagina */
      .active {
    background-color: lightblue;
    border-right: 2px solid black;
 
    
  }
      ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 20px;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: black;
    color: white;
  }
  </style>