{% extends "ProgNegroBlog/base.html" %}

{% block title %} Contacto {% endblock %}

{%block content%}

<h1>Redacta aqui tu mensaje</h1>

<form action="/contactame/" method="POST">{% csrf_token %}
        <label for="correo_input">
            correo
        </label>
        <br>
            <input id="correo_input" class="bk_all" type="text" name="correo" >
        <br>

        <label for="asunto_input">
            Asunto
        </label>
        <br>
            <input id="asunto_input" class="bk_all" type="text" name="asunto" >
        <br>

        <label for="mensaje_input">
            Mensaje
        </label>
        <br>
            <textarea id="mensaje_input" class="bk_all" name="mensaje" cols="80" rows="7"></textarea><br>

    <input class="btn-primary" type="submit" name="" id="" value="Enviar">
</form>

{%endblock%}