		
<div id="portada">
  <div id="titulo"><b>Programador Negro</b></div>
</div>
    <ul>
      {% if userSession %}
      <li><a class="activeUser" >{{ userSession }}</a></li>
      {% endif %}
			<li><a class="active" href="{% url 'inicio' %}">Inicio</a></li>
			<li><a class="button" href="{% url 'python' %}">Python</a></li>
      <li><a class="button" href="{% url 'javascript' %}">Javascript</a></li>
			<li><a class="button" href="{% url 'tutoriales' %}">Tutoriales</a></li>
      <li><a class="button" href="{% url 'capitulos' %}">Capitulos</a></li>
      <li><a class="button" href="{% url 'contacto' %}">contactame</a></li>
      

		</ul>

<style>
 
#portada {
    width: 100%;
    height: 20%;
    background-image: url("https://wallpaperaccess.com/full/680342.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    background-size: cover;
  
}

#titulo {
    font-family: Helvetica, sans-serif;
    color: white;
    font-size: 60px;
    padding-left: 5%;
    padding-top: 0.5%;
}
#portada  #titulo {
  text-align: justify;

  }

  /* Menu principal de la pagina */
.active {
  background-color: darkred;
}
.activeUser {
  background-color: black;
  float: right;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 20px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

</style>