body {
    margin: 15% 15%;
    color: white;
    font-family: Helvetica;
    font-size: 1.5pc;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    margin: auto;
    padding-bottom: 1cm;  
    animation-name: h1-animation;
    animation-duration: 5s;
    justify-content: center;

}
@keyframes h1-animation{
    from {
        color: black;
        /* font-size: 5px; */
    }
    to {
        color: white;
        /* font-size: 48px; */
    }

}
#login-container {
    background-color: black;
    width: 15cm;
    padding: 1.5cm;
    

    text-align: center;
    
}
.table-login {
    width: 366.464px;
    background-color:black;
    margin: auto; /* centra automaticamente los elementos */
    padding: 1cm;
    border-radius: 20px 20px;
    animation-name: table-login-animation;
    animation-duration: 2s;
}
@keyframes table-login-animation{
    from {
        
        width: 0px;
        
    }
    to {
        width: 366.464px;
        
        
    }

}
.td-input
{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 0.3cm;
    padding-bottom: 0.1cm;

    display: flex;
    align-items: center;
    justify-content: center;
    
}
.td-submit
{
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 0.3cm;
    padding-bottom: 0.1cm;
    display: flex;
    align-items: center;
    justify-content: center;
}
#btn-text {
    color: white;
    background-color: black;
    border: 1px solid white;
    padding: 0.2cm;
    border-radius: 3rem;
    width: 100%;
    margin: auto; /* centra automaticamente los elementos */
    text-align: center;
    
    animation-name: loginBars;
    animation-duration: 2s;
}

@keyframes loginBars {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

#btn-text:hover {
    border-bottom: 3px solid tomato;
    
    
    color: burlywood;
    width: 180%;
    height: 0.6cm;
    border-radius: 3rem;
    
}
#btn-submit 
{
    color: white;
    background-color: red;
    border: 2px solid red;
    padding: 0.2cm;
    border-radius: 3rem;
    width: 3cm;
    text-align: center;
    animation-name: loginBaSubmit;
    animation-duration: 2s;
}

@keyframes loginBaSubmit {
    from {
        width: 1cm;
    }
    to {
        width: 3cm;
    }
}

#btn-submit:hover
{
    color: white;
    background-color: red;
    border: 2px solid white;
    font: bold;
}
#spam-login{
    text-align: center;
    font-size: 0.5cm;
    color: darkred;
    
    background-color: whitesmoke;
    border: 2px solid darkred;
    border-radius: 4px 4px 4px 4px;
    
    animation-name: spam-log-in;
    animation-duration: 2s;
}

@keyframes spam-log-in {
    from {
        font-size: 0.1cm;
        
    }
    to {
        font-size: 0.5cm;
    }
}